@media screen and (max-width: 727px) {

@import url(https://db.onlinewebfonts.com/c/251039e6849ad977a8bfc40b564dce89?family=Didot);
@import url(https://db.onlinewebfonts.com/c/978e3845b045b2e6a058988930c64d27?family=Cochin);
/*Animation Settings*/
@keyframes move-up {
    from {transform: translateY(100px); opacity: 0;}
    to {transform: translateY(0px); opacity: 1;}
}
@keyframes move-up-scroll {
    0% {transform: translateY(200px); opacity: 0;}
    30% {transform: translateY(100px); opacity: 1;}
    0% {transform: translateY(0px); opacity: 0;}
}

.move-up-appear {
animation: move-up 2s ease-in forwards;
}
.move-up-scroll {
animation: move-up-scroll ease-in forwards;
animation-timeline: scroll(block root);
}

*{
    box-sizing: border-box;
}
html {scroll-behavior: smooth;}

body {
    height: 100vh;
    background-color:#0D0D0D;
    font-family: "Didot","Cochin";
    margin: 0;
}


header {
    position: fixed;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to bottom, #d50000 20%, rgba(100, 0, 0, 0) );
    opacity: 0.5;
}

section{
    width: 100%;
    height: 800px;
}

.black01{
    width: 100%;
    height: 300px;
}


.logo{
    width: 500px;
    height: 260px;
    background-image: url(image/IMG_5383\ 2.png);
    background-size: cover;
    background-position: center center;
    display: block;
    margin: auto;
    animation: fade 7s ;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h3{
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(83, 5, 5, 0.493);
    padding-top: 275px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.jump-left{
    top: 150px;
}
.bg-left {
    position:relative;
    width: 360px;
    height: 400px;
    float: left;
    z-index: -1;
    opacity: 0.5;
    -webkit-animation:jump 2.3s infinite ; 
}

@-webkit-keyframes jump{
    0%{
      top:0px;
    }
    20%{
    }
    50%{
      top:-38px; 
    }
    80%{
    }
    100%{
      top:0px;
    }
  }

  .jump-right{
    top: -800px;
}

.bg-right {
    position:relative;
    width: 375px;
    height: 675px;
    float: right;
    z-index: -1;
    opacity: 0.5;
    -webkit-animation:jump 1.9s infinite ; 
}

@-webkit-keyframes jump {
    0%{
      top:0px;
    }
    20%{
    }
    50%{
      top:-38px; 
    }
    80%{
    }
    100%{
      top:0px;
    }
  }


  
.red{
    padding: 275px 0px 275px 0px;
}

.Remenber{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

p1{
    font-size: 10pt;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(83, 5, 5, 0.493);
    display: flex;
    justify-content: center;
    margin: 25px 10px 0px 10px;
}

h2{
    font-size:17pt;
    font-weight: bold;
    color: #E22222;
}




.black02{
    width: 100%;
    height: 174px;
}

.www{
    width: 100%;
}

/* // reset */
ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* 動畫關鍵影格 */
@keyframes move {
    0%,
    20% {
      transform: translateX(0px);
    }
    25%,
    45% {
      transform: translateX(-1440px);
    }
    50%,
    75% {
      transform: translateX(-2880px);
    }
    80%,
    100% {
      transform: translateX(-4320px);
    }
  }
}
/* 支援webkit核心的瀏覽器用 */
@-webkit-keyframes move {
  0%,
  20% {
    transform: translateX(0px);
  }
  25%,
  45% {
    transform: translateX(-1440px);
  }
  50%,
  75% {
    transform: translateX(-2880px);
  }
  80%,
  100% {
    transform: translateX(-4320px);
  }
}
.appleknife{
    width: 100%;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
}

ul {
  position: absolute;
  top: 2000px;
  width: 500%;
  display: flex;
  animation: move 10s infinite;
}

.appleknife ul img {
  width: 1440px;
  height: 360px;
}


.appleknife-right {
    position: absolute;
    width: 450px;
    height: 725px;
    right: 0px;
    top: 1700px;
    z-index: 1;
}

.black03{
    width: 100%;
    height: 0px;
}

.Forbbiden{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

h1-2{
    font-size: xxx-large;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 100px 0px 0px 0px;
}


input {
    border:0;
    background-color:  rgba(255, 255, 255, 0);;
    width: 350px;
    height: 210px;
    background-size: cover;
    background-position: center center;
    display: block;
    margin: auto;
    color:#fff;
    font-family: "Didot";
    font-size: xx-large;
    font-weight: bolder;
    z-index: -1;
    transition:0.5s;
}

.ENTER {
    position: absolute;
    width: 561px;
    height: 1054px;
    display: flex;
    justify-content: center;
    left: 48%;
    transform: translate(-50%, -50%);
    top: 3430px;
    z-index: -2;
}


  
.ENTER a :hover {
    font-size: xx-large;
}

.button:hover {
    transform: scale(2, 3);
  } 

p1-2{
    font-size: 10pt;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(83, 5, 5, 0.493);
    display: flex;
    padding: 30px 0px 0px 180px;
}

.left h2{
    display: flex;
    margin: 0;
    padding: 25px 0px 0px 180px;
    transition:0.5s;
}

.left a {
    text-decoration:none;
}

.left a :hover {
    font-size: xx-large;
}


p1-3{
    font-size: 12pt;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(83, 5, 5, 0.493);
    display: flex;
    padding: 10px;
    margin: auto;
    transition:0.5s;
}

.right a {
    text-decoration:none;
}

.right a :hover {
    font-size: x-large;
}

p2{
    width: 200px;
    font-size: 10pt;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(83, 5, 5, 0.493);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
}

.test {
    width: 900px;
    height: 100px;
}

.logo2{
    display: flex;
    width: 120px;
    height: 125px;
float: left;
}

.left-test{

    position: absolute;
    float: right;
}

.left {
    display: block;
    width: 50%;
    height: 125px;
    justify-content: center;
    align-items: center;
    float: left;
}


.right{
    display: block;
    width: 50%;
    height: 125px;
    justify-content: center;
    align-items: center;
    float: right;
    padding: 20px 0px 0px 120px;
}

.footer{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to top, #d500007a 20%, rgba(100, 0, 0, 0) );
    display: flex;
    justify-content: center;
    position: absolute;
    top: 3708px;
    z-index: -2;
}